.container
  %h2 All Boards
  .card 
    .card_title
      %p Brackets
      = image_tag 'Combined Shape.png'
    .card_content
      %p Saving money - is something we would all like.
    .card_detail
      = image_tag 'Oval.png'
  
